// Body
$body-bg: #f8fafc;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FFF;

$tw-grays: (
    "50": rgba(248, 250, 252, var(--tw-bg-opacity, 1)),
    "100": rgba(241, 245, 249, var(--tw-bg-opacity, 1)),
    "200": rgba(226, 232, 240, var(--tw-bg-opacity, 1)),
    "300": rgba(203, 213, 225, var(--tw-bg-opacity, 1)),
    "400": rgba(148, 163, 184, var(--tw-bg-opacity, 1)),
    "500": rgba(100, 116, 139, var(--tw-bg-opacity, 1)),
    "600": rgba(71, 85, 105, var(--tw-bg-opacity, 1)),
    "700": rgba(55, 65, 81, var(--tw-bg-opacity, 1)),
    "800": rgba(31, 41, 55, var(--tw-bg-opacity, 1)),
    "900": rgba(17, 24, 39, var(--tw-bg-opacity, 1))
);

$base-spacing: 0.25rem;

:root {
    @each $name, $value in $tw-grays {
        @include cssvar($name, $value, tw-gray);
    }
}
