@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins/breakpoints';

@import 'functions';
@import 'mixins';
@import 'variables';
@import 'utilities';

#dashboard-wrapper {
    height: 100vh;
    overflow: hidden;
    display: flex;
}

.sidebar {
    &.mobile {
        display: flex;
        z-index: 40;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &>.overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            --tw-bg-opacity: 0.75;
            background-color: cssvar(gray-600, tw);
        }

        &>.sidebar-content-wrapper {
            position: relative;
            width: 100%;
            max-width: spacing(80);
            flex: 1;
            display: flex;
            flex-direction: column;
            background-color: cssvar(gray-800, tw);

            &>.close-btn-wrapper {
                position: absolute;
                top: 0;
                right: 0;
                margin-right: -#{spacing(12)};
                padding-top: spacing(2);

                &>button {
                    margin-left: spacing(1);
                    height: spacing(10);
                    width: spacing(10);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 9999px;
                    border: none;
                    background-color: inherit;

                    & .heroicon-o-x {
                        height: spacing(6);
                        width: spacing(6);
                        color: $white;
                    }

                    &:focus {
                        outline: none;
                        border: 1px solid $white;
                    }
                }
            }
        }

        &>.dummy-element {
            flex-shrink: 0;
            width: spacing(14);
        }
    }

    &.desktop {
        display: none;
        width: spacing(64);

        @include media-breakpoint-up(lg) {
            display: flex;
            flex-direction: column;
            overflow-y: auto;
        }
    }

    & header {
        background-color: cssvar(gray-900, tw);
        height: spacing(16);

        &>img {
            height: spacing(8);
            width: auto;
        }
    }

    & .sidebar-content {
        flex: 1;
        background-color: cssvar(gray-800, tw);
        overflow-y: auto;
        display: flex;
        height: 0;
        flex-direction: column;

        nav {
            flex: 1;
            padding: spacing(4) spacing(2);

            &>*+* {
                margin-top: spacing(1);
                margin-bottom: spacing(1);
            }
        }

        nav .nav-item {
            display: flex;
            align-items: center;
            padding: spacing(2);
            border-radius: spacing(1.5);
            font-weight: 600;
            color: cssvar(gray-300, tw);

            @include transition;

            &.active {
                background-color: cssvar(gray-900, tw);
                color: $white;
            }

            &:not(.active):hover {
                background-color: cssvar(gray-700, tw);
                color: $white;
            }

            &:focus {
                border: 1px solid cssvar(gray-500, tw);
            }
        }

        nav>h3 {
            @include text-sm;
            text-transform: uppercase;
            font-weight: 500;
            padding: 0 spacing(2);
            margin-top: spacing(4);
            color: cssvar(gray-500, tw);
        }
    }
}

.main-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    &>header {
        flex-shrink: 0;
        height: spacing(16);
        background-color: $white;
        display: flex;

        &>.btn-toggle-sidebar {
            padding: 0 spacing(4);
            color: cssvar(gray-500, tw);
            background-color: inherit;
            border: none;
            border-right: 1px solid cssvar(gray-200, tw);

            @include media-breakpoint-up(lg) {
                display: none;
            }

            .heroicon-o-menu-alt-2 {
                height: spacing(6);
                width: spacing(6);
            }
        }

        &>div {
            flex: 1;
            padding: 0 spacing(4);
        }
    }

    &>main {
        flex: 1;
        overflow-y: auto;
    }
}

.max-w-7xl {
    max-width: spacing(320);
}

// Breadcrumb styling
.breadcrumb-nav {
    display: flex;
    padding: 0 spacing(6);

    ol {
        padding: 0;
        margin-bottom: 0;
        list-style-type: none;
        display: flex;
        align-items: center;

        &>*+* {
            margin-right: spacing(4);
            margin-left: spacing(4);
        }
    }

    li {
        display: flex;
        align-items: center;

        a {
            font-weight: 500;
            color: cssvar(gray-500, tw);
            @include text-sm;

            &:hover {
                color: cssvar(gray-700, tw);
            }
        }
    }

    li:not(:first-child) {
        .heroicon-chevron-right {
            color: cssvar(gray-400, tw);
            flex-shrink: 0;
            height: spacing(5);
            width: spacing(5);
        }

        a {
            margin-left: spacing(4);
        }
    }
}
