.h-full {
  height: 100%;
}

.faq-list {
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1rem;
}
.faq-list > * + * {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media (min-width: 992px) {
  .faq-list {
    padding: 0 2rem;
  }
}
.faq-list dt {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgba(17, 24, 39, var(--tw-bg-opacity, 1));
}
.faq-list dd {
  font-size: 18px;
}
